body {
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background-color: #FFFFFF;
  width: 80%;
  margin-left: 10%;
}
.main {
  width: 608px;
  height: 368px;
  margin: 100px 0 0 10%;
  background-color: #FFFFFF;
  border: groove #CCCCCC;
}
.site-logo img {
  height: 100px;
}
.question-title {
  position: absolute;
  margin: -80px 0 0 330px;
  font-size: 200%;
  font-weight: bold;
}
.border-hedder {
  width: 100%;
  height: 3px;
  margin-top: -6px;
  background-color: #F0A20F;
}
.question-instruction {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 120%;
  font-weight: bold;
}

/* スタートボタン */
.start-button {
  text-align: center;
}
.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  background: #ff8181;
  color: #FFF;
  width: 200px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  transition: .4s;
}
.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

